#wrapper
{
height:1350px;
width:100%;
background-image:url("Images/header.jpg");
}
#header
{
height:100px;
width:100%;
background-image:url("Images/Header2.jpg");
background-repeat:no-repeat;
background-size:100%;
float:left;
padding-bottom:0;


}
#header img {
    padding-left:0px;
    float:left;
}
 #header h1 {
        padding-left:40%;
        color:#3085d7;
    font-style: italic;
    font-size:30px;
}
 #header h2 {
        padding-left:40%;
        color:black;
        font-style: italic;
    font-size:20px;
    }
#menu
{ 
 height:1100px;
 width:10%;
 background-image:url("Images/header-bg.jpg");
 float:left;
    margin-right: 0px;
}
#content
{
 height:1100px;
 width:80%;
float:left;
background-color:#06eded;
}
#comment
{
 height:1100px;
 width:10%;
background-image:url("Images/header-bg.jpg");
float:left;
}
 #footer
{
 height:100px;
 width:70%;
 background-image:url("Images/header.jpg");
 float:left;
padding-left:30%;
}
 #footer p{
    font-style: italic;
 }
* {
    padding: 0px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
}
nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 black;
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav li {
    float: left;
    margin: 1px;
    padding: 0;
    position:relative ;
    min-width: 16.51%;
}
nav a {
    background-color:white;
background-image:url("Images/header-bg.jpg");
    display: block;
    color:white;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    border-radius:20px;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav .dropdown:after {
    content: '\25bc';
}
nav .dropdown:hover:after{
	content:'\25bc'
}
nav li:hover a {
    background: black;
background-image:url("Images/menu2.jpg");
    color:white;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 15px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;

         -o-transition: all .25s ease;
            transition: all .25s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #279393;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
nav2 ul {
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
nav2 li a {
    display:block;
    color:#030303;
    padding:8px 0 8px 16px;
    text-decoration:none;
        
}
    nav2 li a:hover {
        background-color: #37b2b2;
        color: white;
        border-radius:10px;
    }
nav2 .active {
    background-color: blue;
    color: white;
}
nav2 li {
    text-align: left;
}
    nav2 li:last-child {
        border-bottom: none;
    }
.h1 {
    text-emphasis-color: ActiveBorder;
}
nav3 ul {
    list-style-type: none;
}
nav3 li a {
    display:block;
    color:#000;
    padding:8px 0 8px 16px;
    text-decoration:none;
    
}